{% extends 'base/base.html' %}


{% block contenido %}
				<!-- Main -->
					
						<section class="wrapper style5">
							<div class="inner">

								<form method="POST">
  

									<div class="">
									  {% csrf_token %}
									  {{form.as_p}}
									</div>
									<br>
								  
								  <div class="row">
									<div class="col-md-3 "></div>
									<div class="col-md-6">
								
										<button class="btn btn-primary " type="submit">Registrar</button>
									</div>
									<div class="col-md-3"></div>
								  </form>
							
							</div>
						</section>
					</article>

			</div>

{% endblock %}